.info-box {
  z-index: 100;
  position: relative;
  background-color: yellow;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}

#start {
  position: absolute;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  top: 20%;
  left: 25%;
  border-radius: 0px;
  width: 500px;
  height: 260px;
  background-image: url("/assets/postcard.webp");
  background-size: contain;
  font-family: "Courier New";
  padding-top: 60px;
  color: rgba(70, 50, 26, 0.8);

  transform: rotate(-2deg);
}

#title {
  padding-top: 20px;
  width: 55%;
}

#title img {
  width: 65px;
  height: 85px;
  transform: rotate(3deg);

  position: absolute;
  top: 10px;
  right: 37px;
}

#description {
  background-color: green;
  padding-right: 35px;
  width: 38%;
}

#camera-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

#instructions {
  display: none;
  top: 25%;
}
#instructions2 {
  display: none;
  top: 25%;
}
